# Java Properties
export CATALINA_OPTS="$CATALINA_OPTS
                      -Dkaui.db.adapter={{ kaui_db_adapter }}
                      -Dkaui.url={{ killbill_url }}
                      -Dkaui.api_key={{ killbill_api_key }}
                      -Dkaui.api_secret={{ killbill_api_secret }}
                      -Dkaui.db.url={{ database_url }}
                      -Dkaui.db.password={{ database_user }}
                      -Dkaui.db.username={{ database_password }}"
