---
- name: Ensure Tomcat install dir exists
  become: true
  ansible.builtin.file:
    path: "{{ tomcat_install_dir }}"
    state: directory
    mode: u=rwx,g=rx,o=rx
  tags: install

- name: Add Tomcat group
  become: true
  ansible.builtin.group:
    name: "{{ tomcat_group }}"
    state: present
  tags: install

# Expect bash to be present -- we haven't tested the scripts with other shells
- name: Add Tomcat user
  become: true
  ansible.builtin.user:
    name: "{{ tomcat_owner }}"
    comment: Kill Bill Tomcat owner
    group: "{{ tomcat_group }}"
    create_home: true
    home: "{{ tomcat_home }}"
    shell: /bin/bash
    state: present
  tags: install

- name: Download Tomcat release metadata
  ansible.builtin.uri:
    url: "{{ nexus_url }}/{{ nexus_repository }}/org/apache/tomcat/tomcat/maven-metadata.xml"
    return_content: true
  register: tomcat_metadata
  when: tomcat_version is undefined
  tags: install

# We don't use the xml module to avoid a dependency on lxml
- name: Set tomcat_version
  ansible.builtin.set_fact:
    tomcat_version: "{{ tomcat_metadata.content | regex_findall('<version>(9.0.*)</version>', '\\1') | last }}"
  when: tomcat_version is undefined
  tags: install

- name: Install Tomcat
  become: true
  ansible.builtin.unarchive:
    src: "http://archive.apache.org/dist/tomcat/tomcat-9/v{{ tomcat_version }}/bin/apache-tomcat-{{ tomcat_version }}.tar.gz"
    remote_src: true
    dest: "{{ tomcat_install_dir }}"
    owner: "{{ tomcat_owner }}"
    group: "{{ tomcat_group }}"
  tags: install

# The individual files have the correct permissions already, but not the top directory
- name: Set correct permissions
  become: true
  ansible.builtin.file:
    path: "{{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}"
    owner: "{{ tomcat_owner }}"
    group: "{{ tomcat_group }}"
    recurse: true
  tags: install

- name: Symlink install directory
  become: true
  ansible.builtin.file:
    src: "{{ tomcat_install_dir }}/apache-tomcat-{{ tomcat_version }}"
    path: "{{ catalina_home }}"
    state: link
  tags: install

- name: Set required Tomcat environment variables
  become: true
  become_user: "{{ tomcat_owner }}"
  ansible.builtin.lineinfile:
    line: "export {{ item.key }}={{ item.value }}"
    regexp: "^export {{ item.key }}="
    path: "{{ tomcat_home }}/.profile"
    state: present
  with_items:
    - key: JAVA_HOME
      value: "{{ java_home }}"
    - key: CATALINA_HOME
      value: "{{ catalina_home }}"
    - key: CATALINA_BASE
      value: "{{ catalina_base }}"
    - key: CATALINA_PID
      value: "{{ catalina_base }}/tomcat.pid"
    - key: CATALINA_TMPDIR
      value: "{{ catalina_base }}/temp"
    - key: LD_LIBRARY_PATH
      value: "{{ catalina_home }}/native-jni-lib"
