---
- name: Set tomcat_native_libdir
  ansible.builtin.set_fact:
    tomcat_native_libdir: "{{ catalina_home }}/native-jni-lib"
  when: tomcat_native_libdir is undefined
  tags: native

- name: Check if native libaries are already built
  ansible.builtin.stat:
    path: "{{ tomcat_native_libdir }}/libtcnative-1.so"
  register: tomcat_libtcnative
  tags: native

- name: Build Tomcat native libraries
  when: not tomcat_libtcnative.stat.exists
  tags: native
  block:

    - name: Prepare build toolchain
      when: tomcat_apr_config_path is undefined
      tags: native
      block:
        - name: Install toolchain
          become: true
          ansible.builtin.package:
            name: "{{ item }}"
            state: present
          with_items:
            - dpkg-dev
            - gcc
            - libapr1-dev
            - libssl-dev
            - make
          tags: native

        - name: Find apr-1-config path
          ansible.builtin.command:
            argv:
              - which
              - apr-1-config
          register: tomcat_apr_config_path_output
          changed_when: false
          tags: native

        - name: Set tomcat_apr_config_path
          ansible.builtin.set_fact:
            tomcat_apr_config_path: "{{ tomcat_apr_config_path_output.stdout }}"
          tags: native

    - name: Detect GNU architecture
      when: tomcat_gnu_arch is undefined
      tags: native
      block:
        - name: Find tomcat_gnu_arch path
          ansible.builtin.command:
            argv:
              - dpkg-architecture
              - --query
              - DEB_BUILD_GNU_TYPE
          register: tomcat_gnu_arch_output
          changed_when: false
          tags: native

        - name: Set tomcat_gnu_arch
          ansible.builtin.set_fact:
            tomcat_gnu_arch: "{{ tomcat_gnu_arch_output.stdout }}"
          tags: native

    - name: Create temporary build directory
      ansible.builtin.tempfile:
        state: directory
        suffix: tomcat-native-build
      register: tomcat_workspace
      tags: native

    # become: true needed here as the user SSH'ing in might not be able to open /usr/share/tomcat/bin
    - name: Expand native libraries archive
      become: true
      ansible.builtin.unarchive:
        src: "{{ catalina_home }}/bin/tomcat-native.tar.gz"
        dest: "{{ tomcat_workspace.path }}"
        extra_opts: [--strip-components=1]
        owner: "{{ ansible_user_id }}"
        remote_src: yes
      tags: native

    - name: Configure native libraries
      ansible.builtin.command:
        argv:
          - ./configure
          - --build={{ tomcat_gnu_arch }}
          - --libdir={{ tomcat_native_libdir }}
          - --prefix={{ catalina_home }}
          - --with-apr={{ tomcat_apr_config_path }}
          - --with-java-home={{ java_home }}
          - --with-ssl=yes
        chdir: "{{ tomcat_workspace.path }}/native"
      changed_when: false
      tags: native

    - name: Build native libraries
      ansible.builtin.command:
        argv:
          - make
          - all
        chdir: "{{ tomcat_workspace.path }}/native"
      changed_when: false
      tags: native


    - name: Install native libraries
      become: true
      ansible.builtin.command:
        cmd: make install
        chdir: "{{ tomcat_workspace.path }}/native"
      changed_when: false
      tags: native

    - name: Set correct permissions
      become: true
      ansible.builtin.file:
        path: "{{ tomcat_native_libdir }}"
        owner: "{{ tomcat_owner }}"
        group: "{{ tomcat_group }}"
        recurse: yes
      tags: install

    - name: Remove temporary directory
      ansible.builtin.file:
        path: "{{ tomcat_workspace.path }}"
        state: absent
      tags: native
