---
- name: ensure Flyway install dir exists
  become: true
  file: path={{ flyway_install_dir }} state=directory mode=u=rwx,g=rx,o=rx
  tags: migrations

# Note: we don't check the version but the binary is rarely updated
- name: check if Flyway is already installed
  stat:
    path: "{{ flyway_install_dir }}/killbill-flyway.jar"
  register: flyway_bin
  tags: migrations

- block:
    - name: download killbill-flyway release metadata
      uri:
        url: "https://repo1.maven.org/maven2/org/kill-bill/billing/killbill-util/maven-metadata.xml"
        return_content: yes
      register: flyway_metadata
      when: flyway_version is undefined
      tags: migrations

    # We don't use the xml module to avoid a dependency on lxml
    - name: set flyway_version
      set_fact:
        flyway_version: "0.24.13"
      when: flyway_version is undefined
      tags: migrations

    - name: install Flyway
      become: true
      # maven_artifact module requires xml on the host
      get_url:
        url: "https://repo1.maven.org/maven2/org/kill-bill/billing/killbill-util/{{ flyway_version }}/killbill-util-{{ flyway_version }}-flyway.jar"
        dest: "{{ flyway_install_dir }}/killbill-flyway.jar"
      tags: migrations
  when: not flyway_bin.stat.exists
  tags: migrations

- name: set correct permissions
  become: true
  file: path="{{ flyway_install_dir }}/killbill-flyway.jar" owner={{ flyway_owner }} group={{ flyway_group }}
  tags: migrations
