---
- name: Fetch all migrations
  killbill_migrations:
    kpm_path: "{{ kpm_path }}"
    bundles_dir: "{{ kb_plugins_dir }}"
    kaui_web_path: "{{ catalina_base }}/{{ kaui_webapps }}/ROOT.war"
    killbill_web_path: "{{ catalina_base }}/{{ kb_webapps }}/ROOT.war"
    kpm_yml: "{{ kpm_yml }}"
    gh_token: "{{ gh_token | default('') }}"
  register: migrations_result
  tags: migrations

- name: Include flyway.yml
  ansible.builtin.include_tasks: flyway.yml
  vars:
    migrations_flyway_version: "{{ migrations_result['migrations']['from'] }}"

- name: Generate Flyway baseline tables
  ansible.builtin.command: "{{ flyway }} -locations=filesystem:{{ item['dir'] }} -table={{ item['table'] }} baseline"
  with_items:
    - "{{ migrations_result['migrations']['killbill'] }}"
    - "{{ migrations_result['migrations']['plugins']['java'] }}"
  when: item['dir'] is defined
  register: migrations_baselineout
  failed_when: migrations_baselineout.rc != 0 and 'as it already contains migrations' not in migrations_baselineout.stderr
  changed_when: "'already initialized with' not in migrations_baselineout.stdout and 'as it already contains migrations' not in migrations_baselineout.stderr"
  tags: migrations

# We verify that all migrations can be generated before attempting to run them one by one
- name: Validate SQL migrations for Kill Bill and Java plugins
  ansible.builtin.command: "{{ flyway }} -locations=filesystem:{{ item['dir'] }} -table={{ item['table'] }} dryRunMigrate"
  with_items:
    - "{{ migrations_result['migrations']['killbill'] }}"
    - "{{ migrations_result['migrations']['plugins']['java'] }}"
  when: item['dir'] is defined
  changed_when: False
  register: migrations_java_dry_run_migrations
  tags: migrations

# Run core migrations
- name: Run core migrations
  ansible.builtin.include_tasks: migrate.yml
  loop:
    - "{{ migrations_result['migrations']['killbill'] }}"
  loop_control:
    loop_var: migration
  when: migration['dir'] is defined

# Run plugin migrations
- name: Run plugin migrations
  ansible.builtin.include_tasks: migrate.yml
  loop: "{{ migrations_result['migrations']['plugins']['java'] | flatten(levels=1) }}"
  loop_control:
    loop_var: migration
  when: migration['dir'] is defined

