- name: Generate SQL migration
  ansible.builtin.command: "{{ flyway }} -locations=filesystem:{{ migration['dir'] }} -table={{ migration['table'] }} dryRunMigrate"
  register: migrations_java_dry_run_migrations
  changed_when: migrations_java_dry_run_migrations.stdout_lines
  tags: migrations

- name: Check if there's nothing to do
  ansible.builtin.debug:
    msg: "No migration to run for {{ migration['from_tag'] }} -> {{ migration['to_tag'] }}"
  when: migrations_java_dry_run_migrations.stdout.find("BEGIN;\nCOMMIT;") != -1
  tags: migrations

- name: SQL migration
  when: migrations_java_dry_run_migrations.stdout.find("BEGIN;\nCOMMIT;") == -1
  block:
    - name: Print migrations
      ansible.builtin.debug:
        msg: "{{ migrations_java_dry_run_migrations.stdout_lines }}"
      when: migrations_java_dry_run_migrations.stdout_lines
      tags: migrations

    - name: Prompt for SQL migration
      ansible.builtin.pause:
        prompt: 'Should I run these migrations? Enter yes or no'
      register: migrations_should_continue
      when: migrations_java_dry_run_migrations.stdout_lines is defined
      tags: migrations

    - name: Run migration
      when: migrations_should_continue.user_input | bool
      block:
        - name: Run SQL migration
          ansible.builtin.command: "{{ flyway }} -locations=filesystem:{{ migration['dir'] }} -table={{ migration['table'] }} -validateOnMigrate=false migrate"
          register: migrations_flyway_result
          ignore_errors: True
          changed_when: false
          tags: migrations

        - name: Show Flyway migration output (stdout)
          ansible.builtin.debug:
            msg: "{{ migrations_flyway_result.stdout_lines }}"
          when: migrations_flyway_result.stdout_lines
          tags: migrations

        - name: Show Flyway migration output (stderr)
          ansible.builtin.debug:
            msg: "{{ migrations_flyway_result.stderr_lines }}"
          when: migrations_flyway_result.stderr_lines
          tags: migrations

        - name: Fail the play if the schema_version table is corrupted
          ansible.builtin.fail:
            msg: "schema_version corrupted. Try running {{ flyway }} -locations=filesystem:{{ migration['dir'] }} -table={{ migration['table'] }} repair"
          when: migrations_flyway_result.rc != 0 and 'contains a failed migration' in migrations_flyway_result.stderr
          tags: migrations

        - name: Fail the play if the migrations did not succeed
          ansible.builtin.fail:
            msg: "Migrations failed. You need to fix the tables, adjust the schema_version table manually (i.e. insert a line for that migration or update the status to success) and run {{ flyway }} -locations=filesystem:{{ migration['dir'] }} -table={{ migration['table'] }} repair"
          when: migrations_flyway_result.rc != 0 and 'contains a failed migration' not in migrations_flyway_result.stderr
          tags: migrations
