---
- name: Ensure KPM install dir exists
  become: true
  ansible.builtin.file:
    path: "{{ kpm_install_dir }}"
    state: directory
    mode: u=rwx,g=rx,o=rx
  tags: kpm

- name: Download kpm release metadata
  ansible.builtin.uri:
    url: "{{ nexus_url }}/{{ nexus_repository }}/org/kill-bill/billing/installer/kpm/maven-metadata.xml"
    return_content: yes
  register: kpm_metadata
  when: kpm_version is undefined
  tags: kpm

# We don't use the xml module to avoid a dependency on lxml
- name: Set kpm_version
  ansible.builtin.set_fact:
    # maven-metadata.xml is often confusing (wrong?) w.r.t. how <latest> and <release> elements are populated. Just pick the last entry of <versions>
    kpm_version: "{{ kpm_metadata.content | regex_findall('<version>(.*)</version>') | last }}"
  when: kpm_version is undefined
  tags: kpm

- name: Check if KPM is already installed
  ansible.builtin.stat:
    path: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}/kpm"
  register: kpm_bin
  tags: kpm

- name: Check if pre-built KPM exists for this arch
  ansible.builtin.uri:
    url: "{{ nexus_url }}/{{ nexus_repository }}/org/kill-bill/billing/installer/kpm/{{ kpm_version }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}.tar.gz"
    method: HEAD
  register: kpm_arch_test
  failed_when: kpm_arch_test.status is undefined or kpm_arch_test.status <= 0
  when: not kpm_bin.stat.exists
  tags: kpm

- name: Download noarch KPM
  become: true
  ansible.builtin.get_url:
    # Use the redirect API to support SNAPSHOT
    url: "{{ nexus_url }}/{{ nexus_repository }}/org/kill-bill/billing/installer/kpm/{{ kpm_version }}/kpm-{{ kpm_version }}-noarch.tar.gz"
    dest: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-noarch.tar.gz"
    owner: "{{ kpm_owner }}"
    group: "{{ kpm_group }}"
    mode: '0644'
  when: not kpm_bin.stat.exists and kpm_arch_test.status >= 400
  tags: kpm

- name: Install noarch KPM
  become: true
  ansible.builtin.unarchive:
    src: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-noarch.tar.gz"
    remote_src: True
    dest: "{{ kpm_install_dir }}"
    owner: "{{ kpm_owner }}"
    group: "{{ kpm_group }}"
  when: not kpm_bin.stat.exists and kpm_arch_test.status >= 400
  tags: kpm

# To make things easier
- name: Rename noarch KPM directory
  become: true
  ansible.builtin.command:
    cmd: >
      mv {{ kpm_install_dir }}/kpm-{{ kpm_version }}-noarch
         {{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}
    creates: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}"
  when: not kpm_bin.stat.exists and kpm_arch_test.status >= 400
  tags: kpm

- name: Download pre-built KPM
  become: true
  ansible.builtin.get_url:
    # Use the redirect API to support SNAPSHOT
    url: "{{ nexus_url }}/{{ nexus_repository }}/org/kill-bill/billing/installer/kpm/{{ kpm_version }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}.tar.gz"
    dest: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}.tar.gz"
    owner: "{{ kpm_owner }}"
    group: "{{ kpm_group }}"
    mode: '0644'
  when: not kpm_bin.stat.exists and kpm_arch_test.status < 400
  tags: kpm

- name: Install pre-built KPM
  become: true
  ansible.builtin.unarchive:
    src: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}.tar.gz"
    remote_src: True
    dest: "{{ kpm_install_dir }}"
    owner: "{{ kpm_owner }}"
    group: "{{ kpm_group }}"
  when: not kpm_bin.stat.exists and kpm_arch_test.status < 400
  tags: kpm

- name: Symlink install directory
  become: true
  ansible.builtin.file:
    src: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}"
    path: "{{ kpm_path }}"
    state: link
  tags: kpm

# The first time KPM is run, a Gemfile.lock needs to written out
- name: Initialize KPM
  become: true
  ansible.builtin.command:
    argv:
      - "{{ kpm_path }}/kpm"
      - version
  args:
    creates: "{{ kpm_path }}/lib/vendor/Gemfile.lock"
  tags: kpm

# The individual files have the correct permissions already, but not the top directory
- name: Set correct permissions
  become: true
  ansible.builtin.file:
    path: "{{ kpm_install_dir }}/kpm-{{ kpm_version }}-linux-{{ ansible_architecture }}"
    owner: "{{ kpm_owner }}"
    group: "{{ kpm_group }}"
    recurse: yes
  tags: kpm
