<?xml version='1.0' encoding='utf-8'?>
<Server port="${TOMCAT_SHUTDOWN_PORT:-{{ tomcat_shutdown_port }}}" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <!-- APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">
    <Executor name="tomcatThreadPool"
              namePrefix="catalina-exec-"
              maxThreads="${TOMCAT_MAX_THREADS:-{{ tomcat_max_threads }}}"
              maxIdleTime="${TOMCAT_MAX_IDLE_TIME:-{{ tomcat_max_idle_time }}}"
              minSpareThreads="${TOMCAT_MIN_SPARE_THREADS:-{{ tomcat_min_spare_threads }}}"
              prestartminSpareThreads="true" />

    <Connector executor="tomcatThreadPool"
               port="${TOMCAT_PORT:-{{ tomcat_port }}}"
               protocol="HTTP/1.1"
               connectionTimeout="${TOMCAT_CONNECTION_TIMEOUT:-{{ tomcat_connection_timeout }}}" />

    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="false"><!-- Disable autoDeploy to avoid restarts when running KPM install -->

        <Valve className="org.apache.catalina.valves.RemoteIpValve"
               protocolHeader="x-forwarded-proto"
               portHeader="x-forwarded-port" />

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="localhost_access_log."
               suffix=".txt"
               pattern="%h %l %u %t &quot;%m %U&quot; %s %b %D %{X-Request-id}i" />

        <Valve className="org.apache.catalina.valves.rewrite.RewriteValve" />
      </Host>
    </Engine>
  </Service>
</Server>
