---
- name: Deploy Kaui
  hosts: all
  vars:
    kaui_kpm_yml: /var/lib/kaui/kpm.yml
  tasks:
    - name: Setup Ruby
      import_tasks: roles/common/tasks/main.yml
    - name: Setup Tomcat
      import_tasks: roles/tomcat/tasks/main.yml
    - name: Install Kaui
      import_tasks: roles/kaui/tasks/main.yml
