---
- name: Configure Tomcat JSON logging for Kaui
  hosts: all
  tasks:
    - name: Download third-party dependencies
      ansible.builtin.import_tasks: roles/kaui/tasks/json_logging.yml
    - name: Enable Tomcat JSON logging
      ansible.builtin.import_tasks: roles/tomcat/tasks/json_logging.yml
