name: ansible_lint

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ansible_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@v25.9.2
        with:
          working_directory: ami/ansible/
          args: "-x 204,role-name --skip-list yaml[line-length],role-name[path]"
