# Java Properties
export CATALINA_OPTS="$CATALINA_OPTS
{% if lookup('env', 'KAUI_CONFIG_DAO_ADAPTER') %}
                      -Dkaui.db.adapter={{ lookup('env', 'KAUI_CONFIG_DAO_ADAPTER') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_URL') %}
                      -Dkaui.url={{ lookup('env', 'KAUI_KILLBILL_URL') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_DISABLE_SSL_VERIFICATION') %}
                      -Dkaui.disable_ssl_verification={{ lookup('env', 'KAUI_KILLBILL_DISABLE_SSL_VERIFICATION') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_READ_TIMEOUT') %}
                      -Dkaui.read_timeout={{ lookup('env', 'KAUI_KILLBILL_READ_TIMEOUT') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_CONNECTION_TIMEOUT') %}
                      -Dkaui.connection_timeout={{ lookup('env', 'KAUI_KILLBILL_CONNECTION_TIMEOUT') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_API_KEY') %}
                      -Dkaui.api_key={{ lookup('env', 'KAUI_KILLBILL_API_KEY') }}
{% endif %}
{% if lookup('env', 'KAUI_KILLBILL_API_SECRET') %}
                      -Dkaui.api_secret={{ lookup('env', 'KAUI_KILLBILL_API_SECRET') }}
{% endif %}
{% if lookup('env', 'KAUI_CONFIG_DAO_URL') %}
                      -Dkaui.db.url={{ lookup('env', 'KAUI_CONFIG_DAO_URL') }}
{% endif %}
{% if lookup('env', 'KAUI_CONFIG_DAO_PASSWORD') %}
                      -Dkaui.db.password={{ lookup('env', 'KAUI_CONFIG_DAO_PASSWORD') }}
{% endif %}
{% if lookup('env', 'KAUI_CONFIG_DAO_USER') %}
                      -Dkaui.db.username={{ lookup('env', 'KAUI_CONFIG_DAO_USER') }}
{% endif %}
{% if lookup('env', 'KAUI_ROOT_USERNAME') %}
                      -Dkaui.root_username={{ lookup('env', 'KAUI_ROOT_USERNAME') }}
{% endif %}
{% if lookup('env', 'KAUI_USERNAME_CLAIM') %}
                      -Dkaui.jwt.username_claim={{ lookup('env', 'KAUI_USERNAME_CLAIM') }}
{% endif %}
                      {{ kaui_system_properties }}"

# Strip newlines (https://bz.apache.org/bugzilla/show_bug.cgi?id=63815)
export CATALINA_OPTS="$(echo $CATALINA_OPTS)"
